<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Réunion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col col-4 class="ion-text-center">
            <div *ngIf="longFutur < 0">
              <ion-button (click)="afficheReunionFutur()" color="secondary">Réunion futur</ion-button>
            </div>
          </ion-col>
            <ion-col col-4 class="ion-text-center">
              <div *ngIf="longEncours < 0">
                <ion-button (click)="afficheReunionEncours()" class="bar-stable nav-title-slide-ios7">Réunion encours</ion-button>
              </div>
          </ion-col>
          <ion-col col-4 class="ion-text-center">
            <div *ngIf="longArchive < 0">
              <ion-button (click)="afficheReunionArchive()" color="danger">Réunion archivées</ion-button>
          </div>
        </ion-col>
      </ion-row>
      </ion-card-title>
    </ion-card-header>
    
    <ion-card-content *ngIf="longFutur >= 0 && longArchive < 0 && longEncours < 0">
      <ion-card-title color="primary"> <center><strong>Liste des Réunions futures</strong></center> </ion-card-title>
      <ion-card>
    
        <ion-row> 
          <ion-col col-4>
            <button (click)="modalReunion()" ><ion-icon name="Add" ></ion-icon>Add</button>
          </ion-col>
          <ion-col col-4>
            <button (click)="downloadR()" ><ion-icon name="download" ></ion-icon>Import</button>
          </ion-col>
          <ion-col col-4>
            <button (click)="shareR()" ><ion-icon name="share" ></ion-icon>Export</button>
          </ion-col>
        </ion-row>
      
    </ion-card>
      <ion-row style="border-bottom: groove;">
  
      <ion-col col-3>
        <ion-label><strong>CODE</strong></ion-label>
      </ion-col>
  
      <ion-col col-3>
        <ion-label ><strong>DATE DEBUT</strong></ion-label>
      </ion-col>

      <ion-col col-3>
        <ion-label ><strong>DATE FIN</strong></ion-label>
      </ion-col>

      <ion-col col-3>
        <ion-label ><strong>ACTION</strong></ion-label>
      </ion-col>
  
    </ion-row>
        <ion-menu-toggle *ngFor="let r of dataFutur">
  
          <ion-row style="border-bottom: groove;" color="secondary">
            
            <ion-col col-3>
              <ion-label >{{r.code}}</ion-label>
            </ion-col>
  
            <ion-col col-3>
              <ion-label >{{r.dateDebut}}</ion-label>
            </ion-col>

            <ion-col col-3>
              <ion-label >{{r.dateFin}}</ion-label>
            </ion-col>

            <ion-col col-3>
              <button color="primary" (click)="modifier(d)"><ion-icon name="create" style="color:var(--ion-color-primary);"></ion-icon></button>|
               <button color="danger" (click)="supprimer(d)"><ion-icon name="trash" style="color:var(--ion-color-danger);"></ion-icon></button>
            </ion-col>
          
          </ion-row>
          
    </ion-menu-toggle>
  </ion-card-content>

    
  <ion-card-content *ngIf="longEncours >= 0 && longArchive < 0 && longFutur < 0">
    <ion-card-title color="primary"> <center><strong>Liste des Réunions encours</strong></center> </ion-card-title>
    <ion-card>
  
      <ion-row> 
        <ion-col col-4>
          <button (click)="modalReunion()" ><ion-icon name="Add" ></ion-icon>Add</button>
        </ion-col>
        <ion-col col-4>
          <button (click)="downloadR()" ><ion-icon name="download" ></ion-icon>Import</button>
        </ion-col>
        <ion-col col-4>
          <button (click)="shareR()" ><ion-icon name="share" ></ion-icon>Export</button>
        </ion-col>
      </ion-row>
    
  </ion-card>
    <ion-row style="border-bottom: groove;">

    <ion-col col-3>
      <ion-label><strong>CODE</strong></ion-label>
    </ion-col>

    <ion-col col-3>
      <ion-label ><strong>DATE DEBUT</strong></ion-label>
    </ion-col>

    <ion-col col-3>
      <ion-label ><strong>DATE FIN</strong></ion-label>
    </ion-col>

    <ion-col col-3>
      <ion-label ><strong>ACTION</strong></ion-label>
    </ion-col>

  </ion-row>
      <ion-menu-toggle *ngFor="let r of dataFutur">

        <ion-row style="border-bottom: groove;" color="secondary">
          
          <ion-col col-3>
            <ion-label >{{r.code}}</ion-label>
          </ion-col>

          <ion-col col-3>
            <ion-label >{{r.dateDebut}}</ion-label>
          </ion-col>

          <ion-col col-3>
            <ion-label >{{r.dateFin}}</ion-label>
          </ion-col>

          <ion-col col-3>
            <button color="primary" (click)="modifier(d)"><ion-icon name="create" style="color:var(--ion-color-primary);"></ion-icon></button>|
             <button color="danger" (click)="supprimer(d)"><ion-icon name="trash" style="color:var(--ion-color-danger);"></ion-icon></button>
          </ion-col>
        
        </ion-row>
        
  </ion-menu-toggle>
</ion-card-content>

  <ion-card-content *ngIf="longArchive >=0 && longFutur < 0 && longEncours < 0">
    <ion-card-title color="primary"> <center><strong>Liste des Réunions archivées</strong></center> </ion-card-title>
    <ion-card>
    
      <ion-row> 
        <ion-col col-4>
          <button (click)="modalReunion()" ><ion-icon name="Add" ></ion-icon>Add</button>
        </ion-col>
        <ion-col col-4>
          <button (click)="downloadR()" ><ion-icon name="download" ></ion-icon>Import</button>
        </ion-col>
        <ion-col col-4>
          <button (click)="shareR()" ><ion-icon name="share" ></ion-icon>Export</button>
        </ion-col>
      </ion-row>
    
  </ion-card>
    <ion-row style="border-bottom: groove;">
  
      <ion-col col-3>
        <ion-label><strong>CODE</strong></ion-label>
      </ion-col>
  
      <ion-col col-3>
        <ion-label ><strong>DATE DEBUT</strong></ion-label>
      </ion-col>

      <ion-col col-3>
        <ion-label ><strong>DATE FIN</strong></ion-label>
      </ion-col>

      <ion-col col-3>
        <ion-label ><strong>ACTION</strong></ion-label>
      </ion-col>
  
    </ion-row>
        <ion-menu-toggle *ngFor="let r of dataArchive">
  
          <ion-row style="border-bottom: groove;" color="danger">
            
            <ion-col col-3>
              <ion-label >{{r.code}}</ion-label>
            </ion-col>
  
            <ion-col col-3>
              <ion-label >{{r.dateDebut}}</ion-label>
            </ion-col>

            <ion-col col-3>
              <ion-label >{{r.dateFin}}</ion-label>
            </ion-col>

            <ion-col col-3>
              <button color="primary" (click)="modifier(d)"><ion-icon name="create" style="color:var(--ion-color-primary);"></ion-icon></button>|
               <button color="danger" (click)="supprimer(d)"><ion-icon name="trash" style="color:var(--ion-color-danger);"></ion-icon></button>
            </ion-col>
          
          </ion-row>
        
  </ion-menu-toggle>
</ion-card-content>

  </ion-card>

</ion-content>
  