<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Employe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary"> <center><strong>Liste des Employés</strong></center> </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-card>
      
        <ion-row> 
          <ion-col col-4>
            <button (click)="modalSalle()" ><ion-icon name="Add" ></ion-icon>Add</button>
          </ion-col>
          <ion-col col-4>
            <button (click)="downloadS()" ><ion-icon name="download" ></ion-icon>Import</button>
          </ion-col>
          <ion-col col-4>
            <button (click)="shareS()" ><ion-icon name="share" ></ion-icon>Export</button>
          </ion-col>
        </ion-row>
      
    </ion-card>
      <ion-row style="border-bottom: groove;">
  
      <ion-col col-2>
        <ion-label><strong>CODE</strong></ion-label>
      </ion-col>
  
      <ion-col col-2>
        <ion-label ><strong>NOM</strong></ion-label>
      </ion-col>

      
      <ion-col col-2>
        <ion-label><strong>PRENOM</strong></ion-label>
      </ion-col>
  
      <ion-col col-2>
        <ion-label ><strong>DIRECTION</strong></ion-label>
      </ion-col>
  
      <ion-col col-4>
        <ion-label ><strong>ACTION</strong></ion-label>
      </ion-col>
  
    </ion-row>
        <ion-menu-toggle *ngFor="let d of dataEmployes">
  
          <ion-row style="border-bottom: groove;">
            
            <ion-col col-2>
              <ion-label >{{d.code}}</ion-label>
            </ion-col>
  
            <ion-col col-2>
              <ion-label >{{d.nom}}</ion-label>
            </ion-col>

            <ion-col col-2>
              <ion-label >{{d.prenom}}</ion-label>
            </ion-col>
  
            <ion-col col-2>
              <ion-label >{{d.direction}}</ion-label>
            </ion-col>
              
            <ion-col col-4>
              <button color="primary" (click)="modifier(d)"><ion-icon name="create" style="color:var(--ion-color-primary);"></ion-icon></button>|
               <button color="danger" (click)="supprimer(d)"><ion-icon name="trash" style="color:var(--ion-color-danger);"></ion-icon></button>
            </ion-col>
          
          </ion-row>
  
    </ion-menu-toggle>
      </ion-card-content>
    </ion-card>
</ion-content>
  