<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary"> <center><strong class="bounceInLeft">{{contact.name}}</strong> </center></ion-card-title>
    </ion-card-header>
    <center>
        <ion-button (click)="openModal()"><ion-icon name="key" size="large" ></ion-icon></ion-button> 
    </center>
      <ion-card-content>
        <ion-img [src]="contact.logo"></ion-img>  
      </ion-card-content>
  </ion-card>
</ion-content>
