strong{
  display: inline-block;
  margin: 0 0.5rem;

  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
  animation-delay: 0.5s;
  animation-fill-mode: both; /* don't forget to set this! */
animation-iteration-count: infinite;  
}
ion-button{
  display: inline-block;
  margin: 0 0.5rem;

  animation: flip; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
  animation-delay: 0.5s;
  animation-fill-mode: both; /* don't forget to set this! */
animation-iteration-count: infinite;  
}