<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">QRCODE</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <center>
      <strong>Votre Identifiant</strong>
  </center>
    <center>
      <ion-card>
        <ion-card-content>
          <qrcode [qrdata]="values" [size]="350" [level]="H"></qrcode>
        </ion-card-content>
      </ion-card>
    </center>
    <!-- <center>
      <ion-row> 
        <ion-col col-4 *ngIf="Administrateur">
          <ion-button (click)="qrData('Administrateur')">ADM</ion-button>
        </ion-col>
        <ion-col col-4 *ngIf="Agent">
          <ion-button (click)="qrData('Agent')">AGT</ion-button>
        </ion-col>
        <ion-col col-4 *ngIf="Gestionnaire">
          <ion-button (click)="qrData('Gestionnaire')"> MAG</ion-button>
        </ion-col>
      </ion-row>
    </center> -->
    <ion-card>
      
        <ion-card-content>
          <ion-img [src]="contact.logo"></ion-img>
        </ion-card-content>
      
    </ion-card>
  
    <!-- 
    <br />
    <br />
    <br />
    
    <strong>Change Width</strong>:
    <ion-button (click)="qrWidth(550)">550</ion-button>
    <ion-button (click)="qrWidth(450)">450</ion-button>
    <ion-button (click)="qrWidth(350)">350</ion-button>
    <ion-button (click)="qrWidth(250)">250</ion-button>
    
    <br />
    <br />
    <br />
    
    <strong>Update Level</strong>:
    <ion-button (click)="qrLevel('L')">L</ion-button>
    <ion-button (click)="qrLevel('M')">M</ion-button>
    <ion-button (click)="qrLevel('Q')">Q</ion-button>
    <ion-button (click)="qrLevel('H')">H</ion-button>
     -->
</ion-content>