ion-card-content{
    margin-left: 15px;
    margin-right: 15px;
   border-radius: 100px;

  margin: 0 0.5rem;

  animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
  animation-delay: 0.5s;
  animation-fill-mode: both; /* don't forget to set this! */

}

ion-img{
    width: 64px;
    height: 64px;
    margin: auto;

    animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
  animation-delay: 0.5s;
  animation-fill-mode: both; /* don't forget to set this! */
}

h1{
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
  animation-delay: 0.5s;
  animation-fill-mode: both; /* don't forget to set this! */
}
