<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Nouvelle Réunion</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" color="danger">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card-header>
      <center>
        <strong>Veuillez renseigner les champs</strong>
    </center>
    </ion-card-header>
    <center>
      <ion-card>
        <ion-card-content class="ion-padding">
       
          <ion-item>
            <ion-label position="floating">CODE</ion-label>
            <ion-input (ionChange)="newCode($event)" name="cod"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary">DATE DEBUT :</ion-label>
            <p></p>
            <ion-input type="datetime-local" (ionChange)="newDate1($event)" name="dateD"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="danger">DATE DE FIN :</ion-label>
            <p></p>
            <ion-input type="datetime-local" (ionChange)="newDate2($event)" name="dateF"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Veuillez selectionner une salle</ion-label>
            <ion-select [compareWith]="compareWith">
              <ion-select-option *ngFor="let sal of salles" [value]="sal" name="sal" (ionChange)="newSal($event)">{{sal.code + ' ' + sal.designation}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button [disabled]="balanceInput.invalid" expand="block" (click) = "addDirection()" >Enregistrer</ion-button>
        
        </ion-card-content>
       
      </ion-card>
    </center>

</ion-content>